body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  //user-select: none;

}
body {
  background-color: $black;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  font-family: 'Hellix', sans-serif;
  font-weight: 400;
  font-size: 20px;
  scroll-behavior: smooth;
  &.modal-is-open {
    overflow-y: hidden!important;
  }
  @media (max-width: 1420px) {
    font-size: 18px;
  }
  @media (max-width: 1200px) {
    font-size: 16px;
  }
  @media (max-width: 1000px) {
    font-size: 15px;
  }
  @media (max-width: 750px) {
    font-size: 14px;
  }
}


a{
  text-decoration: none;
}

input {
  //appearance: none;
  //outline: none;
  border: none;
  font-family: 'Hellix', sans-serif;
}

select {
  appearance: none;
  outline: none;
  border: none;
  font-family: 'Hellix', sans-serif;
}

button {
  font-family: 'Hellix', sans-serif;
  cursor: pointer;
}

textarea{
  font-family: 'Hellix', sans-serif;
}


.main-button {
  width: 100%;
  color:$black;
  background-color: $go;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  padding:1rem 2rem;
  outline:none;
  border:none;
  border-radius: 0.5rem;
  transition: .2s all ease-in-out;
  &.upscale {
    width: max-content;
    margin: 2rem auto 0;
    display: block;
  }
  &.hidden{
    display: none;
  }
  &:hover{
    box-shadow:0px 0px 11px 0px $go;
  }
  &:disabled{
    opacity: 0.5;
    &:hover{
      opacity: 0.25;
      box-shadow: none;
    }
  }
}

.secondary-button {
  width: 100%;
  color:$go;
  background-color: $black;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  padding:1rem;
  outline:none;
  border:3px solid $go;
  border-radius: 0.5rem;
  opacity: .6;
  transition: .2s all ease-in-out;
  svg{
    width: 1.5rem;
    height: 1.5rem;

  }
  &.clear{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:.25rem;
    padding:1rem;
    background-color:$black;
    width:max-content;
    border:4px solid $go;
    opacity: 1;
  }
  &:hover{
    box-shadow:0px 0px 11px 0px $go;
    opacity: 1;
  }
}