.main-footer{
  background-color: #1f1f1f;
  padding:3rem 0;
  border-top:.5rem solid $go;
  .container{
    @include contentStructure();
    .logo-area{
      width: 10rem;
      height: fit-content;
      img{
      }
    }
    .grid{
      margin-top: 1.5rem;
      display: grid;
      grid-template-columns: repeat(5,1fr);
      row-gap: 2rem;
      @media (max-width: 800px){
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 400px){
        grid-template-columns: 1fr;
      }
      .col{
        .col-title{
          color:#FFF;
          font-size: 1.25rem;
          font-weight: 600;
        }
        nav{
          margin-top: 1rem;
          ul{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap:.3rem;
            a{
              color:#dedede;
              line-height: 1.2rem;
              font-size:0.8rem;
              display: block;
              width: 100%;
            }
            li{
              &:hover{
                a{
                  color:$go;
                }
              }
            }
          }
        }
      }
    }
  }
}

.bottom-footer{
  background-color: $blacktr;
  padding:2rem 0;
  .container{
    @include contentStructure();
    .wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      @media (max-width: 600px){
        grid-template-columns: 1fr;
        gap:2rem;
      }
      .social-icons{
        display: flex;
        gap:1rem;
        align-items: center;
        @media (max-width: 600px){
          justify-content: center;
        }
        a{
          width: 1.5rem;
          height: 1.5rem;
          display: block;
          svg{
            width: 100%;
          }
          &:hover{
            svg{
              *{
                fill:$go;
              }
              fill:$go;
            }
          }
        }
      }
      .copyright{
        text-align: right;
        @media (max-width: 600px){
          text-align: center;
        }
        p{
          color:#dedede;
          font-size: 1rem;
          line-height: 1rem;
          a{
            color:$go;

          }
        }
      }
    }
  }
}

.premium-modal{
  .main-modal{
    aspect-ratio: unset!important;
    .premium-upscale{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      p{
        font-size: 1rem;
        line-height: 1.5rem;
        color:#dedede;
        span{
          color:$go;
          font-weight: 700;
        }
      }
    }
    .premium-status{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p{
        font-size: 1rem;
        line-height: 1.5rem;
        color:#dedede;
        span{
          color:$go;
          font-weight: 700;
        }
      }
    }
  }
}

.age-verification{
  background-color: rgba(0, 0, 0, 0.75)!important;
  backdrop-filter: blur(15px)!important;
  z-index: 9999999999;
  .main-modal{
    aspect-ratio: unset!important;
    width: 33%!important;
    height: fit-content!important;
    @media (max-width: 700px){
      width: 80% !important;
    }
    .modal-wrapper{
      padding:1.5rem;
      .title{
        font-size: 1.5rem;
        line-height: 2rem;
        color:#dedede;
        text-align: center;
        font-weight: 500;
        span {
          color:$go;
          font-weight: 700;
        }
      }
      .subtitle{
        margin:1rem 0;
        color:#dedede;
        font-size: 1rem;
        line-height: 1.25rem;
        a{
          color:$go;
        }
      }
      .button-area{
        display: flex;
        gap:1rem;
        margin:1rem 0;
        span{
          text-align: center;
          cursor: pointer;
        }
      }
    }

  }
}