.single-generated-image-page, .new-single-generated-image-page{
  .container{
    @include contentStructure();
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    margin-top: 2rem;
    @media (max-width: 768px){
      grid-template-columns: 1fr;
    }
    margin-bottom: 2rem;
    .left{
      @media (max-width: 768px){
        order: 2;
        margin-bottom: 2rem;
      }
      .go-back{
        display: flex;
        align-items: center;
        color:#dedede;
        gap:.5rem;
        font-size: .9rem;
        margin-bottom: 1rem;
        svg{
          width: 1rem;
          height: 1rem;
          transition: .2s all ease;
        }
        &:hover{
          svg{
            transform: translateX(0.25rem);
          }
        }
      }
      .image-info-block{
        border: 1px solid $go;
        border-radius: 0.5rem;
        padding:1rem;
        background-color: $black;
        .top{
          font-size: 1.5rem;
          line-height: 2rem;
          color:#FFF;
          font-weight: 500;
          margin-bottom: 1rem;
        }
        .list{
          gap:1rem;
          display: flex;
          flex-direction: column;
          position: relative;
          aspect-ratio: 16/9;
          @media (max-width: 800px) {
            flex-direction: column;
          }
        .info-title{
          font-size: 1rem;
          line-height: 1rem;
          flex-basis: 20%;
          color:$go;
          display: flex;
          flex-direction: column;
          justify-content: center;
          &.prompt{
            flex-basis: 40%;
          }
          span{
            color:#FFF;
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 1.25rem;
          }
        }
        }
      }
      .button-area{
        display: flex;
        flex-wrap: wrap;
        gap:1rem;
        margin-top: 1rem;
        .single-button{
          display: flex;
          gap:.5rem;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          background-color: $go;
          padding:1rem 1.5rem;
          outline:none;
          border:none;
          border-radius: .5rem;
          font-size: 1rem;
          line-height: 1rem;
          color:$black;
          font-weight: 600;
          text-decoration: none;
          img{
            width: 1.05rem;
            height: 1.05rem;
          }
        }
      }
    }
    .right{
      .image-area{
        height: 75vh;
        aspect-ratio: 9/16;
        margin: 0 auto;
        margin-top: 2rem;
        @media (max-width: 768px){
          margin: 0 auto;
        }
        &.square{
          aspect-ratio: 1/1;
        }
        &.horizontal{
          aspect-ratio: 16/9;
          height: unset;
        }
        .single-image{
          width: 100%;
          aspect-ratio: 9/16;
          border-radius: .5rem;
          border:1px solid $go;
          position: relative;
          //position: absolute;
          overflow: hidden;

          &.square{
            aspect-ratio: 1/1;
          }
          &.horizontal {
            aspect-ratio: 16/9;
          }
          &.premium-notice{
              .premium-wrapper{
                width: 100%;
                margin:0 auto;
                text-align: center;
                .premium-area{
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 80%;
                  transform: translate(-50%, -50%);
                  p{
                    font-size: 1.25rem;
                    line-height: 1.5rem;
                    color:#dedede;
                    span {
                      color:$go;
                      font-weight: 700;
                    }
                  }
                  .note{
                    margin-top: 1rem;
                    font-size: 0.9rem;
                    line-height: 1.25rem;
                    font-weight: 300;
                    span{
                      color:$go;
                    }
                  }
                }
              }
          }
            .single-wrapper{
              padding:.5rem;
              height: 100%;
              .hover-area{
                transform:translateY(100%);
                position: absolute;
                left:0;
                bottom:0;
                transition: .2s all ease;
                width:100%;
                opacity: 0;
                background-color: $black;
                border-radius: 0.5rem 0.5rem 0 0;
                padding:.25rem .5rem;
                .hover-con{
                  width: 95%;
                  margin:0 auto;
                  .wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap:.25rem;
                    .left{
                      width: 1.5rem;
                      height: 1.5rem;
                      img{
                        width: 100%;
                      }
                    }
                    .right{
                      p{
                        color:#dedede;
                        font-size: 1rem;
                        line-height: 1.5rem;
                      }
                    }
                  }
                }
              }
              &:hover{
                .hover-area {
                  opacity: 1;
                  transform:translateY(0%);
                }
              }
            }
            .post-image{
              width: 100%;
              height: 100%;
              border-radius: .25rem;
              overflow: hidden;
              img{
                transition: .4s all ease-in-out;
                @include imageCover(50%, 0);
                opacity: 0;
                width: 100%;
                &.show{
                  transition: .4s all ease-in-out;
                  opacity: 1;
                }
                &.hide{
                  transition: .4s all ease-in-out;
                  opacity: 0;
                }
              }
            }
          &:hover{
            .post-image{
              img{
                transform:scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}