.homepage-hero{
  .hero-wrapper{
    position: relative;
    height: 100%;
    @media (max-width: 900px){
      overflow: hidden;
    }
    .image{
      width: 100%;
      aspect-ratio: 16/9;
      position: relative;
      max-height: 80vh;
      height: 100%;
      @media (max-width: 900px){
        aspect-ratio: unset;
        max-height:unset;
        position: absolute;
        height: 100%;
      }
      &:before{
        content:'';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
      }
      img{
        @include imageCover(50%, 50%);
        &.mobile{
          display: none;
          @media (max-width: 900px){
            display: block;
          }
        }
        &.desktop{
          @media (max-width: 900px){
            display: none;
          }
        }
      }
    }
    .inside-wrapper {
      display: grid;
      grid-template-columns: 1.25fr 1.5fr;
      gap:4rem;
      position: absolute;
      top:0;
      left: 50%;
      transform:translate(-50%, 0);
      width: 80%;
      height: 100%;
      align-items: center;
      max-width: 1920px;
      @media (max-width: 900px){
        grid-template-columns: 1fr;
        gap:5rem;
        position: relative;
        padding: 7rem 0px;
      }
      .content-area {
        .content-wrapper {
          .title {
            font-size: 3rem;
            line-height: 3.5rem;
            color: #dedede;
            margin-bottom: 1rem;
            @media (max-width: 1520px){
              font-size: 2.5rem;
              line-height: 3rem;
            }
            @media (max-width: 1020px){
              font-size: 2rem;
              line-height: 2.5rem;
            }
            @media (max-width: 900px){
              text-align: center;
              font-size: 3rem;
              line-height: 3.5rem;
            }
          }

          .subtitle {
            font-size: 1rem;
            line-height: 1.5rem;
            color: #dedede;
            @media (max-width: 900px){
              text-align: center;
            }
          }

          .button-wrapper {
            margin: 1rem 0 0;
            display: flex;
            gap: 1rem;
            flex-direction: row;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              &.yellow-black {
                width: 50%;
                border-radius: 0.5rem;
                color: $black;
                background-color: $go;
                font-size: 1rem;
                line-height: 1rem;
                font-weight: 700;
                text-align: center;
                padding: 1rem 2rem;
                @media (max-width: 880px) {
                  width: 100%;
                }
              }
              &.button-black{
                width: 50%;
                border-radius: 0.5rem;
                color: $go;
                background-color: transparent;
                font-size: 1rem;
                line-height: 1rem;
                font-weight: 700;
                text-align: center;
                padding: 1rem 2rem;
                border:3px solid $go;
                @media (max-width: 880px) {
                  width: 100%;
                }
              }
            }
          }
        }

      }
      .right-video{
        width: 100%;
        aspect-ratio: 16/9;
        .video-area{
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          border:3px solid $go;
          overflow: hidden;
          //min-height: 20rem;
          video{
            @include imageCover(50%, 50%);
          }
        }
      }
    }
  }
}


.featured-block{
  background-color: #1f1f1f;
  padding:2rem 0;
  .container{
    @include contentStructure();
    .wrapper{
      display: grid;
      grid-template-columns: max-content 1fr;
      gap:3rem;
      align-items: center;
      @media (max-width: 900px){
        grid-template-columns: 1fr;
      }
      .title{
        color:#dedede;
        font-size: 1.5rem;
        font-weight: 700;
        @media (max-width: 900px){
          text-align: center;
          font-size: 2rem;
        }
      }
      .logo-slider{
        position: relative;
        .splide__arrows{
          position: absolute;
          right: 0;
          bottom: 0;
          @media (max-width: 900px){
            right: 2rem;
          }
          button{
            width: 1.5rem;
            height: 1.5rem;
            background-color: transparent;
            position: absolute;
            &.splide__arrow--prev{
              left: -2rem;
            }
            &.splide__arrow--next{
              right: 0;
              left: 100%;
            }
            svg{
              fill:$go;
            }
          }
        }
        ul{
          li{
            width: 100%;
            .image-wrapper{
              img{
                transform: scale(0.8);
                transform-origin: top;
                transition: .2s all ease-in-out;
                filter: grayscale(1);
                opacity: .5;
              }
            }
            &.is-active{
              .image-wrapper {
                img {
                  opacity: 1;
                  transform: scale(1);
                  transform-origin: center;
                  transition: .2s all ease-in-out;
                  filter: grayscale(0);
                }
              }
            }
          }
          a{
            display: block;
            width: 100%;
            height: 100%;
            .image-wrapper{
              width: 100%;
              img{
                width: 100%;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}

.grid-info-block{
  margin:3rem 0;
  .container{
    @include contentStructure();
    .grid-area{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:2rem;
      @media (max-width: 900px){
        grid-template-columns: 1fr;
      }
      .single-column{
        border-radius: .5rem;
        border:1px solid #919191;
        padding:1rem;
        transition: .2s all ease;
        &:first-of-type{
          transform: scale(0.8);
          @media (max-width: 900px){
            transform: scale(1);
          }
        }
        &:last-of-type{
          transform: scale(0.8);
          @media (max-width: 900px){
            transform: scale(1);
          }
        }
        .image-area{
          width: 100%;
          aspect-ratio: 9/16;
          border-radius: .25rem;
          overflow: hidden;
          border:1px solid $go;
          transition: .2s all ease;
          img{
            overflow: hidden;
            @include imageCover(50%, 50%);
          }
        }
        .title{
          color:$go;
          margin:1rem 0;
          font-size: 1.5rem;
          line-height: 1.5rem;
          font-weight: 500;
          text-align: center;
          min-height: 3ch;
        }
        .content{
          font-size: 1rem;
          line-height: 1.25rem;
          color:#919191;
          color:#dedede;
        }
        &:hover{
          border:1px solid $go;
          box-shadow: 0px 0px 20px 4px rgba(255, 167, 2, 0.44);
          .image-area{
            border:1px solid #919191;
          }
        }
      }
    }
  }
}

.about-hub-block{
  margin:5rem 0;
  .container{
    @include contentStructure();
    .wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      transition: .2s all ease-in-out;
      gap:1rem;
      @media (max-width: 900px){
        grid-template-columns: 1fr;
      }
      .left, .right{
        padding:1.5rem;
        border-radius: .5rem;
        border:3px solid $go;
        background-color: $black;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap:.5rem;
        &:hover{
          box-shadow: 0px 0px 20px 0px $go;
        }
        .inner-wrapper{
          display: flex;
          align-items: center;
          gap: 3rem;
          .icon{
            width: 5rem;
            height: 5rem;
        }
          .col{
            display: flex;
            flex-direction: column;
            gap:.5rem;
          }
        }
      }
      .right{
        &:hover{
          .icon{
            animation: tilt-shaking .2s infinite;
          }
        }
      }
      .title{
        font-size: 1.5rem;
        line-height: 2rem;
        color:#dedede;
        font-weight: 500;
        p{
          b, strong{
            color:$go;
          }
        }
      }
      .button-wrapper{
        a{
          color:$black;
          background-color: $go;
          padding:1rem 1.5rem;
          border-radius: .5rem;
          font-weight: 700;
          display: block;
        }
      }
      .note{
        color:#dedede;
        font-size: 0.9rem;
      }

    }
  }
}

.faqs-block{
  margin:5rem 0;
  .container{
    @include contentStructure();
    .faqs-area{
      display: flex;
      flex-direction: column;
      .single-faq{
        &:first-of-type{
          border-top-left-radius: .5rem;
          border-top-right-radius: .5rem;
        }
        &:last-of-type{
          border-bottom-left-radius: .5rem;
          border-bottom-right-radius: .5rem;
        }
        border:1px solid #919191;
        .faq-title-block{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding:.75rem;
          cursor: pointer;
          p{
            width: 80%;
            color:#dedede;
            font-size: 1.25rem;
            font-weight: 500;
            transition: .2s all ease-in-out;
          }
          svg{
            width: 2rem;
            height: 2rem;
            transition: .2s all ease-in-out;
          }
          &.active{
            svg{
              transform:rotate(180deg);
            }
            &:hover{
              svg{
                transform:rotate(165deg);
              }
            }
          }
        }
        .faq-answer-block{
          transition: .2s all ease;
          display: none;
          padding:1rem;
          max-height: 0;
          opacity: 0;
          visibility: hidden;
          transition: .2s all ease;
          &.active{
            opacity: 1;
            display: flex;
            visibility: visible;
            padding: 0rem 1rem 1rem; //Pakeisti ir JS faile
          }
          *{
            font-size: 1rem;
            line-height: 1.25rem;
            color:#dedede;

          }
        }
        &:hover{
          .faq-title-block{
            p{
              color:$go;
            }
            svg{
              transform:rotate(25deg);
            }
          }
        }
      }
    }
  }
}



.top-hub-area{
  .container{
    @include contentStructure();
    h6{
      text-align: center;
      font-size: 2.5rem;
      line-height: 3rem;
      color:#dedede;
    }
    .generated-images-wrapper{
      margin:2rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:1rem;
      position: relative;
      @media (max-width: 900px){
        grid-template-columns: 1fr 1fr;
      }
      .single-image{
        width: 100%;
        aspect-ratio: 9/16;
        border-radius: .5rem;
        border:1px solid $go;
        position: absolute;
        overflow: hidden;
        &.square{
          aspect-ratio: 1/1;
        }
        &.horizontal {
          aspect-ratio: 16/9;
        }
        a{
          display: block;
          width: 100%;
          height: 100%;
          .single-wrapper{
            padding:.5rem;
            height: 100%;
            .hover-area{
              transform:translateY(100%);
              position: absolute;
              left:0;
              bottom:0;
              transition: .2s all ease;
              width:100%;
              opacity: 0;
              background-color: $black;
              border-radius: 0.5rem 0.5rem 0 0;
              padding:.25rem .5rem;
              .hover-con{
                width: 95%;
                margin:0 auto;
                .wrapper{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap:.25rem;
                  .left{
                    width: 1.5rem;
                    height: 1.5rem;
                    img{
                      width: 100%;
                    }
                  }
                  .right{
                    p{
                      color:#dedede;
                      font-size: 1rem;
                      line-height: 1.5rem;
                    }
                  }
                }
              }
            }
            &:hover{
              .hover-area {
                opacity: 1;
                transform:translateY(0%);
              }
            }
          }
          .post-image{
            width: 100%;
            height: 100%;
            border-radius: .25rem;
            overflow: hidden;
            img{
              transition: .4s all ease-in-out;
              @include imageCover(50%, 0);
            }
          }
        }
        &:hover{
          .post-image{
            img{
              transform:scale(1.1);
            }
          }
        }
      }
    }
    .pagination {
      margin-bottom: 5rem;
      display: flex;
      gap:.5rem;
      justify-content: end;
      .page-numbers{
        color:#dedede;
        padding:.5rem;
        font-weight: 500;
      }
      .current{
        color:$black;
        background-color: $go;
        padding: .5rem;
        font-weight: 700;
      }
      a{
        border-bottom: 1px solid $black;
        transition: .2s all ease-in;
        &:hover{
          border-bottom: 1px solid $go;
        }
      }
    }
  }
}

