.premium-page-template{
  margin:2rem 0;
  .container{
    @include smallContentStructure();
    .grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap:2rem;
      @media (max-width: 600px){
        grid-template-columns: 1fr;
      }
      .inner-col-wrapper{
        border:1px solid $go;
        border-radius: .5rem;
        padding: 1rem;
        position: relative;
        &.premium{
          box-shadow: 0px 0px 10px 4px #FFA702;
        }
        .col-title{
          color:$go;
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
          line-height: 2rem;
          text-transform: uppercase;
        }
        .subtitle{
          margin-top: .5rem;
          color:$go;
          text-align: center;
          font-size: 0.9rem;
          font-weight: 400;
          line-height: 1rem;
          text-transform: uppercase;
        }
        .whole-price{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .row{
            display: flex;
            gap:.25rem;
          }
        .price{
          font-size: 2rem;
          line-height: 2rem;
          font-weight: 600;
          text-align: center;
          color:$go;
          display: flex;
          align-items: center;
          justify-content: center;
          gap:.25rem;
          span{
            font-size: 75%;
            line-height: 100%;
            color:#dedede;
            vertical-align: top;
          }
        }
          .old-price{
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 600;
            text-align: center;
            color:$go;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: start;
            text-decoration: line-through;
            span{
              font-size: 75%;
              line-height: 100%;
              color:#dedede;
              vertical-align: top;
            }
          }
        .subprice{
          display: inline-block;
          color:#dedede;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1rem;
        }
        }
        .button-area {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin:1rem 0;
          .main-button {
            text-align: center;
            width: fit-content;
          }
          .spots-left{
            color:$go;
            font-size:1rem;
            line-height: 1rem;
            font-weight: 500;
            margin-top: .75rem;
          }
        }
        ul{
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          li{
            text-align: center;
            width: 100%;
            padding:.5rem 0;
            border-bottom:1px solid #919191;
            &:last-of-type{
              border-bottom: none;
            }
            span{
              color:#dedede;
            }
          }
        }
        .note-area{
          margin-top: .75rem;
          text-align: center;
          p{
            font-size: .8rem;
            color:#dedede;
          }
        }
      }
    }
  }
}


.reviews-block{
  margin:5rem 0;
  .container{
    @include contentStructure();
    position: relative;
    .icon{
      &.left{
        top: 50%;
        left: 5rem;
        transform: translate(0, -50%);
        @media (max-width: 660px){
          left: 3rem;
        }
        @media (max-width: 440px){
          display: none;
        }
      }
      &.right{
        top: 50%;
        right: 5rem;
        transform: translate(0, -50%);
        @media (max-width: 660px){
          right: 3rem;
        }
        @media (max-width: 525px){
          display: none;
        }
      }
      width: 5rem;
      height: 5rem;
      position: absolute;
    }
    .wrapper{
      border-radius: .5rem;
      border:3px solid $go;
      padding:1.5rem;
      background-color: #292929;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: .2s all ease-in-out;
      gap:1rem;
      @media (max-width: 525px){
        align-items: end;
      }
      @media (max-width: 440px){
        align-items: center;
      }
      .title{
        font-size: 1.5rem;
        line-height: 2rem;
        color:#dedede;
        font-weight: 500;
        p{
          b, strong{
            color:$go;
          }
        }
      }
      .button-wrapper{
        a{
          color:$black;
          background-color: $go;
          padding:1rem 1.5rem;
          border-radius: .5rem;
          font-weight: 700;
          display: block;
        }
      }
      .note{
        color:#dedede;
        font-size: 0.9rem;
      }
      &:hover{
        box-shadow: 0px 0px 20px 0px $go;
      }
    }
  }
  &:hover{
    .icon{
      animation: tilt-shaking-premium .2s infinite;
    }
  }
}



@keyframes tilt-shaking-premium {
  0% { transform: rotate(0deg) translate(0, -50%); }
  25% { transform: rotate(5deg) translate(0, -50%); }
  50% { transform: rotate(0eg) translate(0, -50%); }
  75% { transform: rotate(-5deg) translate(0, -50%); }
  100% { transform: rotate(0deg) translate(0, -50%);}
}