.tml{
  @include smallContentStructure();
  margin:2rem auto;
  .tml-message, .tml-error{
    color:#dedede;
    border-left-color: $go;
  }
  .tml-indicator-wrap, .tml-indicator_hint-wrap, .acf-user-register-fields, h2{
    display: none;
  }
  &.tml-register{
    .tml-user_login-wrap{
      order:1;
    }
    .tml-user_email-wrap{
      order:2;
      margin-bottom: 1rem;
    }
    .tml-user_pass1-wrap{
      order:3;
      grid-column-end: 1;
      grid-column-start: 3;
    }
    .tml-user_pass2-wrap{
      order:4;
      margin-bottom: 1rem;
    }
    div:nth-child(10){
      order: 5;
      grid-column-end: 1;
      grid-column-start: 1;
      @media (max-width: 960px){
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
    .wp_google_login{
      order:5;
      width: 100%;
      margin: 0 auto;
      grid-column-end: 2;
      grid-column-start: 2;
      @media (max-width: 960px){
        order:6;
        grid-column-start: 1;
        grid-column-end: 3;
        max-width: 75%;
        margin-top: 1rem;
        margin-bottom:1rem;
      }

      .wp_google_login__button-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        a{
          border:0;
          display: flex;
          align-items:center;
          justify-content:center;
          margin-top:0!important;
          padding:0.4rem;
          color:$black;
          font-size:0.7rem;
          font-weight:700;
          line-height:1rem;
          .wp_google_login__google-icon{
            height: 1rem;
          }
        }

      }
    }
    .ptrn-button{
      width: 100%;
      margin: 0!important;
      max-height: 36px;
      min-height: 36px;
      img{
        max-height: 36px;
        object-fit:contain;
        width: auto;
        max-width:unset!important;

      }
    }
  }
  form > div {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .tml-log-wrap{
      order:1;
    }
    .tml-pwd-wrap{
      order:2;
      margin-bottom: 0;
    }
    .tml-rememberme-wrap{
      order:3;
    }
    .tml-submit-wrap{
      order:4;
      margin-bottom: 1rem;
    }
    div:nth-child(3){
      order: 5;
      grid-column-end: 1;
      grid-column-start: 1;
      @media (max-width: 960px){
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
    .wp_google_login{
      order:5;
      width: 100%;
      margin: 0 auto;
      grid-column-end: 2;
      grid-column-start: 2;
      @media (max-width: 960px){
        order:6;
        grid-column-start: 1;
        grid-column-end: 3;
        max-width: 75%;
        margin-top: 1rem;
        margin-bottom:1rem;
      }

      .wp_google_login__button-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        a{
          border:0;
          display: flex;
          align-items:center;
          justify-content:center;
          margin-top:0!important;
          padding:0.4rem;
          color:$black;
          font-size:0.7rem;
          font-weight:700;
          line-height:1rem;
          .wp_google_login__google-icon{
            height: 1rem;
          }
        }

      }
    }
    .ptrn-button{
      width: 100%;
      margin: 0!important;
      max-height: 36px;
      min-height: 36px;
      img{
        max-height: 36px;
        object-fit:contain;
        width: auto;
        max-width:unset!important;

      }
    }
  }
  .tml-field-wrap{
    position: relative;
    width: 100%;

    label{
      position: absolute;
      top:0;
      left:1rem;
      transform:translate(0, -100%);
      color:$go;
      font-size: 1rem;
      background-color: $black;
      padding:3px 6px;
    }
    input{
      padding:1rem 1rem 1rem;
      background-color: $black;
      color:#dedede;
      font-size: 1rem;
      line-height: 1rem;
      border-radius: .25rem;
      border:1px solid $go;
      &:focus-visible{
        border-radius: .25rem;
        outline:none;
        border:1px solid $go;
      }
    }
    button{
      width: 100%;
      padding: 1rem;
      color:$black;
      background-color: $go;
      border-radius: .5rem;
      font-size: 1rem;
      font-family: inherit;
      line-height: 1rem;
      font-weight: 700;
      outline:none;
      border:none;
    }

  }
  .tml-links{
    display: flex;
    align-items: center;
    gap: 1rem;
    li{
      list-style-type: none;
      &.tml-register-link{
        display: none;
      }
      a{
        color:#dedede;
        font-size: .9rem;
        line-height: 1rem;
        text-decoration: none;
      }
    }
  }
  .tml-rememberme-wrap{
    display: flex;
    align-items: center;
    gap:.5rem;
    cursor: pointer;
    margin: 0;
    label{
      position: unset;
      transform: none;
      padding: 0;
      font-size: 1rem;
      line-height: 1rem;
    }
    input{
      width: 1rem;
      height: 1rem;
      appearance: none;
      border: 1px solid $go;
      border-radius: 5px;
      padding:0;
      position: relative;
      &:checked{
        &:before{
          content:"";
          position: absolute;
          top:50%;
          left:50%;
          width: 0.5rem;
          height: 0.5rem;
          transform:translate(-50%, -50%);
          background-color: $go;
          border-radius: 3px;
        }
      }
    }
  }
}